<nav class="navbar ">
    <a class="navbar-brand" href="">
        <%= image_tag 'logo.png' ,:size => '168x39' %>
    </a>
    <ul class="nav justify-content-end">
        <% if parent_signed_in? %>
        <li class="nav-item">
            <%= link_to 'お知らせ', "", class: 'nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to '今日の出来事', "", class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to '授業プリント', "", class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to '先生に連絡する', "", class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to '設定', "", class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'ログアウト', destroy_parent_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item">
            <%= link_to 'ホーム', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to '登録する', new_parent_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'ログイン', new_parent_session_path, class: 'nav-link' %>
        </li>
        <% end %>
    </ul>
</nav>